#main-title{
    font-size: 30;
    margin-bottom: 5px;
}
#header{
background-color: rgba(221, 221, 221);
height: 100;
width: 120%;
margin: 0px;
align-items: center;
}

#load-bar{
  width: 100%;
  height: 20px;
  background: repeating-linear-gradient(
    135deg,
    rgba(239, 203, 104),
    rgba(239, 203, 104) 20px,
    rgba(245, 212, 128) 20px,
    rgba(245, 212, 128) 40px
  );
}
.buttons{
    height: 25px;
    margin-left: 5px;
    margin-top: 7px;
    display: flex;
}
#save_icon{
    width: 20px;
    transform: rotate(180deg);
    margin-right: 2px;
}
#menu_buttons{
    display: flex;
}






































































.esquerda {
    background-color: #d9e9fd;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 32px;
    margin-right: 20px;
    width: 1000px;
    height: 280px;
    display: flex;
    color: #003da7;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.direita {
    background-color: #d9e9fd;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 32px;
    width: 500px;
    height: 280px;
}

.robo {
    justify-content: center;
    margin: 20px;
    max-height: 220px;
}

#pagina2 {
    display: flex;
    justify-content: center;
}