






































































.esquerda {
    background-color: #d9e9fd;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
    width: 1000px;
    height: 280px;
}